<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.restaurantapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_salad_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".modules.client.Activity_HomePage_Client"/>
        <activity android:name=".modules.client.Activity_Orders"/>
        <activity android:name=".modules.client.Activity_More" />
        <activity android:name=".modules.client.Activity_ContactUs" />
        <activity android:name=".modules.client.Activity_Profile" />
        <activity android:name=".Activity_Registration" />
        <activity android:name=".modules.restaurant.MenuPage" />
        <activity android:name=".modules.restaurant.EditOfferActivity" />
        <activity android:name=".modules.restaurant.OfferPage" />
        <activity android:name=".modules.restaurant.OrderPage" />
        <activity android:name=".modules.restaurant.HomePage" />
        <activity android:name=".modules.restaurant.ProfilePage" />
        <activity android:name=".modules.client.Activity_AboutUs" />
        <activity android:name=".Activity_Preferences" />
        <activity android:name=".Activity_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>